.modal-register {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.modal-close {
  flex-shrink: 0;
	display: block;
	width: 30px;
	height: 30px;
	margin: 5px;
	position: relative;
	z-index: 1;
	-ms-flex-item-align: end;
	align-self: flex-end;
	cursor: pointer
}

.modal-close::after,
.modal-close::before {
	content: "";
	display: block;
	height: 2px;
	width: 25px;
	position: relative;
	left: .16rem;
	border-radius: 15px;
	background-color: #000;
}

.modal-close::before {
	top: 14px;
	-webkit-transform: rotate(46deg);
	-ms-transform: rotate(46deg);
	transform: rotate(46deg)
}

.modal-close::after {
	top: 12px;
	-webkit-transform: rotate(-46deg);
	-ms-transform: rotate(-46deg);
	transform: rotate(-46deg)
}

.form-login, .form-sign-up {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 20px 20px 20px;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
  box-sizing: border-box;
  position: absolute;
  bottom: -200%;
  transition: all 0.3s linear;
}

.form-login.showed, .form-sign-up.showed {
  bottom: 0;
}

.form-login .form__title, .form-sign-up .form__title {
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  color: #2f281e;
  margin-bottom: 20px;
}

.form-login .form__input, .form-sign-up .form__input {
  width: 100%;
  height: 48px;
  padding-left: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 28px;
  border: none;
  border-radius: 5px;
  color: #364b5d;
  box-shadow: 0 0 5px #bcd0e5;
  box-sizing: border-box;
}

.form-login .form-login__link {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  text-decoration: underline;
  color: #2f281e;
  margin-bottom: 10px;
}

.form-login .form__button, .form-sign-up .form__button {
  font-size: 16px;
  font-weight: 300;
}

.form-login .form-footer__text {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
}

.form__label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  color: #2f281e;
}

.content {
  margin-bottom: 8.88889%;
}

.content__row {
  flex-wrap: nowrap;
}

.content__column {
  flex: 0 0 47.07470747074707%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 36px;
  color: #2f281e;
}

.content__title-subject {
  margin-bottom: 4px;
  color: #544837;
  font-size: 16px;
}

.content__text {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}

.content__subtitle {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #2f281e;
}

.content-list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.content-list__item::before {
  content: '';
  width: 36px;
  height: 36px;
  background: url("../img/Icons/Bulletz.svg") center no-repeat;
}

.content-list__item p {
  flex: 0 1 85%;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}

.feature {
  text-align: center;
  position: relative;
  margin-bottom: 125px;
}

.feature-back {
  width: 100vw;
  position: absolute;
  bottom: -25%;
  left: -20px;
  z-index: -1;
}

.feature__column {
  flex: 0 1 24%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.feature__icon {
  width: 50px;
  height: 50px;
  padding: 1.1rem 0 0 0;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 20px;
}

.feature__icon::after {
  content: '';
  width: 45px;
  height: 25px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 2px;
  border-radius: 50%;
  z-index: -1;
}

.feature__icon--violet {
  background-color: #7752BE;
}

.feature__icon--violet::after {
  box-shadow: 0 1px 10px #7752BE;
}

.feature__icon--yellow {
  background-color: #FAB005;
}

.feature__icon--yellow::after {
  box-shadow: 0 1px 10px #FAB005;
}

.feature__icon--red {
  background-color: #F03E3D;
}

.feature__icon--red::after {
  box-shadow: 0 1px 10px #F03E3D;
}

.feature__icon--blue {
  background-color: #4DADF7;
}

.feature__icon--blue::after {
  box-shadow: 0 1px 10px #4DADF7;
}

.feature__title {
  font-size: 22px;
  margin-bottom: 20px;
}

.feature__text {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 56px;
}

.feature__button {
  margin: 0 auto 85px auto;
}

.feature-main-title {
  max-width: 47.91111%;
  min-width: 33.53778%;
  margin: 0 auto 50px auto;
  color: #2f281e;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 835px;
  position: relative;
  margin: 0 auto 30px auto;
}

.team-back {
  width: 100vw;
  position: absolute;
  top: 0;
  left: -20px;
  z-index: -1;
  transform: scale(-1);
}

.team__contact-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.team__list-item {
  width: 341px;
  height: 139px;
  position: absolute;
  display: flex;
}

.team__list-item.item-right {
  flex-direction: row-reverse;
}

.team__text {
  display: flex;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 19.5px;
  height: 50px;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
  -webkit-filter: drop-shadow(0px 2px 8px rgba(86, 117, 146, 0.1));
          filter: drop-shadow(0px 2px 8px rgba(86, 117, 146, 0.1));
}

.team__list-item.item-left .team__text {
  left: 15%;
}

.team__list-item.item-right .team__text {
  right: 15%;
}

.team__avatar {
  margin-top: 40px;
  border-radius: 50%;
}

.team__avatar::before, .team__avatar::after {
  content: '';
  display: block;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
}

.team__avatar::before {
  width: 15px;
  height: 15px;
  right: 10px;
}

.team__avatar::after {
  width: 10px;
  height: 10px;
  top: -95%;
}

.item-right .team__avatar::before {
  left: 100%;
}

.item-right .team__avatar::after {
  top: -95%;
  left: 93%;
}

.contact-block__text {
  max-width: 542px;
  height: 52px;
  font-size: 16px;
  line-height: 26px;
  color: #567592;
}

.member-1 {
  top: 520px;
  left: 2.417%;
}

.member-2 {
  top: 630px;
  left: 32.5%;
}

.member-3 {
  top: 116px;
  left: 57.98611%;
}

.member-4 {
  top: 489px;
  left: 72.361%;
}

.member-5 {
  top: 180px;
  left: 4.681%;
}

.blog__title, .blog__text {
  text-align: center;
}

.blog__list {
  margin-bottom: 45px;
}

.blog__list-item {
  max-width: 348px;
  border-radius: 5px 5px 0 0;
  margin: 0 14.5px;
  overflow: hidden;
}

.blog__image {
  margin-bottom: 30px;
}

.publication-author, .publication-date {
  display: inline-block;
}

.publication-author {
  font-size: 16px;
  line-height: 28px;
  color: #544837;
}

.publication-author span {
  font-weight: 600;
}

.publication-author::after {
  content: '';
  display: inline-block;
  width: 2px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #544837;
  margin-left: 5px;
}

.publication-date {
  font-size: 16px;
  line-height: 28px;
  color: #544837;
}

.publication__link {
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  color: #2f281e;
}

.publication__link--active {
  color: #f90;
}

.footer {
  width: 77.08333%;
  min-height: 304px;
  padding: 100px 0;
  margin: 0 auto;
  box-sizing: border-box;
  border-top: solid 1px #cecece;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__column {
  flex: 0 1 24%;
}

.footer__title {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: #2f281e;
  margin-bottom: 45px;
}

.footer__links {
  font-size: 16px;
  line-height: 35px;
  font-weight: 300;
  color: #544837;
}

.footer-form__input {
  max-width: 325px;
  width: 100%;
  height: 48px;
  padding-left: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: lighter;
  line-height: 28px;
  border: none;
  border-radius: 5px;
  color: #bcd0e5;
  box-shadow: 0 0 5px #bcd0e5;
  box-sizing: border-box;
}

.footer-form__button {
  font-size: 16px;
  padding: 8px 15px;
  cursor: pointer;
}

.footer-form-label {
  visibility: collapse;
}

@media screen and (max-width: 480px) {
  .content {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
  .content__column {
    flex-basis: 75%;
  }
  .content__column:first-child {
    margin: 0;
  }
  .feature__row {
    justify-content: center;
  }
  .feature__column {
    flex: 0 1 75%;
    text-align: center;
    align-items: center;
  }
  .feature-main-title {
    width: auto;
    font-size: 24px;
  }
  .blog {
    padding: 0 20px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 0 20px;
  }
  .content__title {
    font-size: 28px;
  }
  .content__subtitle {
    font-size: 14px;
  }
  .content__text {
    font-size: 14px;
  }
  .content-list__item p {
    font-size: 14px;
  }
  .content-left {
    flex-direction: column-reverse;
  }
  .content-right {
    flex-direction: column;
  }
  .feature {
    margin-bottom: 45px;
  }
  .feature__text {
    margin-bottom: 30px;
  }
  .blog__list-item {
    margin: 0 auto;
  }
  .footer {
    padding-top: 45px;
  }
}

@media screen and (max-width: 1024px) {
  .team {
    height: auto;
    flex-direction: column;
  }
  .team-back {
    top: -20%;
  }
  .team__contact-block {
    margin: 30px auto;
  }
  .team__list-item {
    position: static;
    margin: 0 auto;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .team__list-item p {
    margin: 15px 0;
  }
  .team__list-item.item-right {
    flex-direction: column-reverse;
  }
  .team__list-item.item-left .team__text {
    left: 0;
  }
  .team__list-item.item-right .team__text {
    right: 0;
  }
  .member-1 {
    top: 0;
    left: 0;
  }
  .member-2 {
    top: 0;
    left: 0;
  }
  .member-3 {
    top: 0;
    left: 0;
  }
  .member-4 {
    top: 0;
    left: 0;
  }
  .member-5 {
    top: 0;
    left: 0;
  }
  .contact-block__text {
    width: auto;
    height: auto;
  }
  .team__avatar {
    margin: 0 auto;
  }
  .team__avatar::before, .team__avatar::after {
    display: none;
  }
  .footer__row {
    flex-direction: column;
    justify-content: center;
  }
  .footer__column {
    flex: 0 1 75%;
    margin-bottom: 15px;
  }
  .footer__title {
    margin-bottom: 20px;
  }
  .footer__list-item {
    display: inline-block;
    margin-right: 10px;
  }
}

@media screen and (min-width:481px) {
  .modal-register {
    justify-content: center;
    align-items: center;
  }
  .form-login, .form-sign-up {
    width: 450px;
  }
}

@media screen and (min-width:768) {
  .register__button {
    font-size: 14px;
  }
  .content__row {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width:1024px) {
  .feature-back, .team-back {
    left: -13%;
  }
  .form-login, .form-sign-up {
    padding: 40px 20px;
    border-radius: 5px;
  }
  .form-login.showed, .form-sign-up.showed {
    bottom: 50%;
    transform: translateY(50%);
  }
  .blog__title, .blog__text {
    text-align: left;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .feature__column {
    flex: 0 1 49%;
  }
}

@media screen and (max-width:1023px) and (orientation:landscape) {
  .nav__menu.active {
    top: 0;
    padding-top: 85px;
  }
  .register__button {
    margin-bottom: 20px;
  }
  .nav__menu,
  .form-login.showed,
	.form-sign-up.showed {
		overflow-y: auto;
		height: 100%
	}
}